html{
    font-size: 1.3rem;
}

body{
    margin: 0;
    font-family:'Franklin Gothic Medium',  sans-serif;
    background-color:rgb(255, 251, 247)
}

.input-box{
    background-color: rgb(136, 136, 25);
    padding: 1.5rem;    
    box-shadow: 0px 4px 4px rgba(255, 251, 251, 0.25);
}
h1{
    text-align: center;
}
.form{
    width: 100%;
    display: flex;
    justify-content: center;
}
input{
    width: 40%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 18px;
    
}
button{
background-color: rgb(62, 62, 34);
margin-left: 1rem;
color:white;
border: none;
width: 4rem;
border-radius: 5px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding: 10px 16px;
}

button:hover{
    box-shadow: 4px 8px 8px rgb(160, 160, 95);
    border: 1px solid white;
}
.check-box{
   width: 1rem;
   height: 1rem;  
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   accent-color:rgb(62, 62, 34);
}

.content{
    display: flex;
    justify-content: center;
   
}
#todoList{
width: 40%;
margin: 1rem 5rem;
padding: 3%;
border-collapse: collapse;
padding: 2%
}
td{
    padding: 10px;
    border-bottom: 1px rgb(202, 202, 206) dashed;
}

tr:hover{
    background-color: rgb(229, 228, 228);
}

.btn-delete{
    float: right;    
}
.btn-delete:hover{
    box-shadow: 0px 4px 4px rgb(129, 129, 133);
}
